[submodule "C_projects/SimpleBashUtils"]
	path = C_projects/SimpleBashUtils
	url = https://github.com/Max-312/SimpleBashUtils
[submodule "C_projects/String+"]
	path = C_projects/String.h
	url = https://github.com/Max-312/String.h.git
[submodule "C_projects/Decimal"]
	path = C_projects/Decimal
	url = git@github.com:Max-312/Decimal.git
